<%= form_for @recipe, :html => { :multipart => true } do |f| %>
  <%= render 'layouts/error_messages', object: f.object %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </p>

  <p>
    <%= f.label :description %>
    <%= f.text_area :description, class: "form-control" %>
  </p>

  <p>
    <%= f.label :cooking_time %>
    <%= number_field(:recipe, :cooking_time, in: 1..120, step: 1) %>
  </p>

  <p>
    <%= f.file_field :image %>
  </p>

  <%= f.submit "Criar receita", class: "btn btn-primary" %>
<% end %>
