<%= form_for @recipe, :html => { :multipart => true } do |f| %>
  <p>
    <%= f.label :name, "Nome" %>
    <%= f.text_field :name, class: "form-control" %>
  </p>

  <p>
    <%= f.label :description, "Descrição" %>
    <%= f.text_area :description, class: "form-control" %>
  </p>

  <p>
    <%= f.label :cooking_time, "Tempo de preparo" %>
    <%= time_select(:recipe, :cooking_time, { ampm: false, prompt: {hour: 'Horas', minute: 'Minutos'}, minute_step: 5}) %>
  </p>

  <p>
    <%= f.file_field :image %>
  </p>

  <%= f.submit "Criar receita", class: "btn btn-primary" %>
<% end %>
