<div class="row">
    <section class="recipe_info">
      <h1>
        <%= @recipe.name %>
      </h1>
      <h2>
        <%= @recipe.description %>
      </h2>
    </section>


    <article id="ingredints">
      <h1>Ingredientes</h1>

      <%= render @recipe.ingredients %>
      <%= form_for @ingredient, url: recipe_ingredients_path(@recipe) do |f| %>
        <%= render 'layouts/error_messages', object: f.object %>
        <%= f.text_field :ingredient  %>
        <%= f.submit "Adicionar", class: "btn btn-primary"  %>
      <%end%>

    </article>

    </br>
    <article id="prep_steps">
      <h1>Modo de preparo</h1>

      <%= render @recipe.prep_steps %>

      <%= form_for @prep_step, url: recipe_prep_steps_path(@recipe) do |f| %>
        <%= f.text_area :description  %>
        <%= f.submit "Adicionar", class: "btn btn-primary"  %>
      <%end%>
    </article>
</div>



