<div class="row">
  <div class="col-md-12">
    <section class="recipe_info">
      <h1>
        <%= @recipe.name %>
        <% unless @recipe.user == current_user %>
          <%= link_to("#{t(:hmm)}(#{@recipe.hmms.size.to_s})", hmm_recipe_path(@recipe), method: :put) %>
        <% end %>
      </h1>
      <h2>
        <%= @recipe.description %>
      </h2>

      <div class="recipe_image">
        <%= image_tag(@recipe.image.url(:large)) %>
      </div>

    </section>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading"><h4>Ingredientes</h4></div>
      <ul class="list-group">
        <%= render @recipe.ingredients %>
      </ul>

      <% if @recipe.belongs_to?(current_user) %>
        <div class="panel-footer">
          <%= form_for @ingredient, url: recipe_ingredients_path(@recipe), html: { class: "form-inline" } do |f| %>
            <div class="form-group">
              <%= f.text_field :ingredient, placeholder: (t :placeholder_new_ingredient), class: "form-control" %>
            </div>
            <%= f.submit t(:add), class: "btn btn-default" %>
          <% end %>
        </div>
      <% end %>

    </div>
  </div>

  <div class="col-md-6">
   <div class="panel panel-default">
      <div class="panel-heading"><h4>Modo de preparo</h4></div>
      <ul class="list-group">
        <%= render @recipe.prep_steps %>
      </ul>


      <% if @recipe.belongs_to?(current_user) %>
        <div class="panel-footer">
          <%= form_for @prep_step, url: recipe_prep_steps_path(@recipe), html: { class: "form-inline" } do |f| %>
            <div class="form-group">
              <%= f.text_area :description, placeholder: (t :placeholder_new_step), class: "form-control"  %>
            </div>
            <%= f.submit t(:add), class: "btn btn-default" %>
          <% end %>
        </div>
      <% end %>

    </article>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <article id="reviews">
      <h1>Comentários</h1>
      <%= render @recipe.reviews %>
      <%= form_for @review, url: recipe_reviews_path(@recipe), html: { class: "form-inline" } do |f| %>
          <div class="form-group">
            <%= f.text_area :review, placeholder: (t :placeholder_new_review), class: "form-control"  %>
          </div>
          <%= f.submit t(:add), class: "btn btn-default" %>
        <% end %>
    </article>
  </div>
</div>



